<section id="strategists">
	<h2 class="top">Building a new website or revamping your internal tools can seem like a hilariously complicated undertaking.</h2>
	<p>
		How is it going to be organized?<br>
		Who's going to write the articles?<br>
		How will people find the Annual Report?<br>
		What about that new grant requirement?<br>
		Who's in charge here anyway?
	</p>
	<h2>Deep breaths, my friend.  What you need is a plan.</h2>
	<div id="plans-wrapper">
		<div class="plans">
		  <h3 class="circle">We are very good at plans</h3>
		</div>
  </div>
	<h2 class="bottom">We're strategists</h2>
	<p class="bottom">As such, we're not satisfied when strategy is a discrete part of the discovery process, or applied to one narrow slice of your project - we want the whole thing, start-to-finish, steeped in strategic thinking.</p>

	<div class="row">
		<div class="column left">
			<img title="Aaron" alt="Aaron's Headshot" class="headshot" src="/images/retina/aaron.png">
			<h3>Aaron</h3>
			<p>Aaron takes pride in assembling the perfect team for your needs and keeping all the moving parts organized and heading towards your goals.</p>
			<a class="twitter" href="http://www.twitter.com/{{site.aaron_twitter}}">@{{site.aaron_twitter}}</a><br>
			<a class="email" href="mailto:{{site.aaron_email}}">{{site.aaron_email}}</a>
		</div>
		<div class="column right">
			<img title="Eileen" alt="Eileen's Headshot" class="headshot" src="/images/retina/eileen.png">
			<h3>Eileen</h3>
			<p>Eileen likes taking a big ol' mess of content and turning it into something structured, sensible, and flexible.</p>
			<a class="twitter" href="http://www.twitter.com/{{site.twitter_username}}">@{{site.twitter_username}}</a><br>				
			<a class="email" href="mailto:{{site.eileen_email}}">{{site.eileen_email}}</a>
		</div>
	</div><!-- /row -->
</section><!-- /strategists -->

