---
layout: default
---
<div class="mainPage">
	<section id="strategists">
		<h2 class="top">Building a new website or revamping your internal tools can seem like a hilariously complicated undertaking.</h2>
		<p>
			How is it going to be organized?<br>
			Who's going to write the articles?<br>
			How will people find the Annual Report?<br>
			What about that new grant requirement?<br>
			Who's in charge here anyway?
		</p>
		<h2>Deep breaths, my friend.  What you need is a plan.</h2>
		<div id="plans-wrapper">
			<div class="plans">
			  <h3 class="circle">We are very good at plans</h3>
			</div>
    </div>
		<h2 class="bottom">We're strategists</h2>
		<p class="bottom">As such, we're not satisfied when strategy is a discrete part of the discovery process, or applied to one narrow slice of your project - we want the whole thing, start-to-finish, steeped in strategic thinking.</p>

		<div class="row">
			<div class="column left">
				<img title="Aaron" alt="Aaron's Headshot" class="headshot" src="/images/retina/aaron.png">
				<h3>Aaron</h3>
				<p>Aaron takes pride in assembling the perfect team for your needs and keeping all the moving parts organized and heading towards your goals.</p>
				<a class="twitter" href="http://www.twitter.com/{{site.aaron_twitter}}">@{{site.aaron_twitter}}</a><br>
				<a class="email" href="mailto:{{site.aaron_email}}">{{site.aaron_email}}</a>
			</div>
			<div class="column right">
				<img title="Eileen" alt="Eileen's Headshot" class="headshot" src="/images/retina/eileen.png">
				<h3>Eileen</h3>
				<p>Eileen likes taking a big ol' mess of content and turning it into something structured, sensible, and flexible.</p>
				<a class="twitter" href="http://www.twitter.com/{{site.twitter_username}}">@{{site.twitter_username}}</a><br>				
				<a class="email" href="mailto:{{site.eileen_email}}">{{site.eileen_email}}</a>
			</div>
		</div><!-- /row -->
		</section><!-- /strategists -->

	 <section id="meet">
	 	<h2>Meet us at:</h2>
		<div class="wrapper">
			<ul>

				<li class="column highest">
				  <article>
						<h3>May <span>20-22</span></h3>
            			<p><a href="http://confabevents.com/events/central">Confab Central</a></p>
          		  </article>
				</li>

				<li class="column lower">
				  <article>
						<h3>June <span>12</span></h3>
            			<p><a href="http://uxburlington.com/">UX Burlington</a></p>
          		  </article>
				</li>

				<li class="column higher">
				  <article>
					<h3>June <span>14-17</span></h3>
					<p><a href="http://conf.giantux.com/">GiantConf</a></p>
         			 </article>
				</li>

				<li class="column lowest">
				  <article>
					<h3>July <span>17</span></h3>
					<p><a href="http://nyccamp.org/summit/non-profits-ngo-summit">Non-Profit &amp; NGO Summit</a></p>
         			  </article>
				</li>
			</ul>
		</div>
	</section><!-- /meet -->


	<section id="blog">
		<h2>Check out our presentation archive:</h2>
		<nav class="topnav">
			<ul>
			{% for page in site.pages %}
			  {% if page.title %}
			  <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			  {% endif %}
			{% endfor %}
			</ul>
		</nav>
	</section>


	<section id="worked-with">
		<h2>We've worked with:</h2>
		<div class="wrapper">
			<ul>
				<li class="mariott">Marriott</li>
				<li class="ritz">The Ritz-Carlton</li>
				<li class="cineplex">Cineplex</li>
				<li class="trek">Trek</li>
				<li class="papa">Papa John's</li>
				<li class="ala">A List Apart</li>
			</ul>
		</div>
	</section><!-- /worked-with -->



	<section id="about-us">
		<div class="wrapper">
			<p>We're located on a small farm in northern New Hampshire, and our offices are entirely solar-powered. We keep a flock of ducks, geese, and chickens; they are hilarious and only really loud when we are trying to sound professional on conference calls.</p>
		</div>
	</section>
</div>
