

section#meet {
    ul.post-list {
        margin:0;
        padding:0;


        li {
            margin:0;
            padding:5px;
            font-size: .75em;
            color: $grey;
            background: none;
            max-width: 11em;

            figure {
                position:relative;
                padding-top:1.5em;
                a {
                    display:block;
                    width:100%;
                    img {
                        width:100%;
                    }
                }

                figcaption {
                    display:inline-block;

                    text-align: left;
                    vertical-align: top;
                    section {
                        padding:0;
                    }
                    a {
                        font-weight: bold;
                        max-width: 100%;
                    }
                }
            }
        }
        @include breakpoint($break-mobile) {
            li {
              margin: 0 2em;

              figure {
                  a {
                      display:inline-block;
                      max-width: 40%;
                      img {
                         max-height: 200px;
                         margin:0 0.5em 0.5em 0;
                      }
                  }

                  figcaption {
                     max-width: 60%;
                  }
              }
            }
        }
    }


    p.archive-link {
        text-align: center;
        font-size: .9em;
        margin:1.25em 0;
        border:0;
        padding:0;

        a {
            font-weight: bold;
            font-size: .9em;
        }
    }
}
.blog{

  .post{
    width:calc(100% - 0.2em);
    padding:0.2em;
    min-height:600px;
    padding-bottom:50px;
    text-align: left;
    margin: 0 auto;
	font-size: 0.95em;

  }
  @include breakpoint($break-mobile) {
    .post {
        max-width: 950px;

        padding-bottom:100px;
    }
 }
  h1,
  h1.post-title, {
    color: #515F22;
    font-style: italic;
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, Baskerville, serif;
    font-weight: bold;
  }
  h1 {
  	margin-bottom:15px;
  }
  h2 .post-link{
  	color: #715a3e;
	font-style:normal;
	font-size: .95em;
  }
  .post-list {
  	padding-left: 0;
    list-style: none;
    text-align: left;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    li{
      padding: 20px 0;
      border-top: 2px dashed #d5cbae;
      font-size: .9em;
      clear:left;
      &:first-child {
        border:none;
      }

      img {
          width: 100%;
          margin:0.25em 0;
      }

      @include breakpoint($break-mobile) {
          img {width:200px;
              height:auto;
              vertical-align: top;
              margin:0 0.5em 1em 0;}
       }
      .post-info {
          vertical-align: top;
      }
      .post-meta{
        font-size: .9em;
      }
      h3 {
        margin: 0 0 0.25em 0;
        font-size: 1.2em;
        font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
        vertical-align: top;
        a {
          text-decoration: none;
          font-style: normal;
          font-weight: bold;
        }
      }

      .excerpt {
          padding-left:0;
          font-size: .75em;
      }
    }
  }

}

article.post-content {

    table {
        width:100%;

        td {
            width:auto;
        }
    }
}

.PageNavigation {
  display:flex;
        flex-flow: row-reverse nowrap;
        align-items: stretch;
        align-content: flex-start;
        margin:0;
        padding:0;
  list-style: none outside;

  li {
 @include breakpoint($break-mobile) {
          margin: 3px;
        }

      a {
  display: block;
  margin: 1em 0;
  text-decoration: none;
}

  }

  .next {text-align: right;}
}

